body {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

header,
nav,
main,
aside,
footer {
  padding: 12px;
  text-align: center;
}

header {
  border-bottom: 1px solid black;
  height: 60px;
}

.header-container {
  justify-self: center;
  display: flex;
  gap: 64px;

}

.columns {
  display: flex;
  flex-grow: 1;
}

nav {
  border-right: 1px solid black;
  flex-shrink: 0;
  width: 100px;
}

main {
  flex-grow: 1;
}

aside {
  border-left: 1px solid black;
  flex-shrink: 0;
  width: 100px;
}

footer {
  border-top: 1px solid black;
  height: 100px;
}
