body {
  font-family: sans-serif;
}

.wrapper {
  width: 100%;
}

.controls {
  width: 100%;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
  border-bottom: 1px solid black;
  margin-bottom: 8px;
}

.button {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: white;
  font-size: large;
  font-weight: 500;
}

.count {
  font-size: x-large;
  font-weight: 600;
  margin: 0 32px;
}

table {
  margin-top: 32px;
  width: 100%;
}

th,
tr {
  border-bottom: 1px solid black;
  font-size: medium;
  font-weight: 400;
}
