body {
  font-family: sans-serif;
}

table {
  width: 100%;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
}

.counter {
  font-size: 24px;
  margin-left: 24px;
  margin-right: 24px;
}
