.fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: groove;
  border-color: rgb(192, 192, 192);
  border-image: initial;
}

.optionGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.option {
  display: flex;
  align-items: center;
  border: 1px dashed hsl(0deg 0% 75%);
  border-radius: 4px;
}

.option label {
  flex: 1;
  padding: 8px;
  cursor: pointer;
}

.option input {
  margin-left: 8px;
  accent-color: hsl(250deg 100% 50%);
}